.session_view {
    position: absolute;
    background: var(--white);
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    padding: 0 40px;
    box-sizing: border-box;
}

.session_view_title {
    font-size: 28px;
    margin-bottom: 18px;
}

.session_view_top_bar {
    display: flex;
}

.session_view_top_bar_left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.session_view_top_bar_description {
    font-weight: bold;
    font-size: 20px;
}

.session_view_top_bar_right_photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.session_view_top_bar_right_doctor {
    font-size: 16px;
}

.session_view_top_bar_info {
    display: flex;
    gap: 3px;
    font-size: 12px;
    color: var(--text-gray);
}

.session_view_top_bar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.session_view_audio {
    width: 100%;
    height: 60px;
    background: var(--faint-border);
    border-radius: 30px 20px 30px 20px;
    margin: 10px 0;
}

.session_view_section_title {
    font-size: 20px;
    margin-top: 20px;
}

.session_view_section_content {
    font-size: 12px;
    color: var(--text-gray);
}

.session_view_transcript {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: var(--text-gray);
}

.session_view_transcript_timestamp {
    width: 5%;
}
